[Socket]
ListenStream=/tmp/.security-server-api-get-object-name.sock
SocketMode=0777
#SmackLabelIPIn=security-server::api-get-object-name
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
