[Socket]
ListenStream=/tmp/.security-server-api-privilege-by-pid.sock
SocketMode=0777
#SmackLabelIPIn=security-server::api-privilege-by-pid
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
