[Unit]
Description=Start the security server

[Service]
Type=notify
ExecStart=/usr/bin/security-server
Sockets=security-server.socket
Sockets=security-server-data-share.socket
Sockets=security-server-get-gid.socket
Sockets=security-server-privilege-by-pid.socket
Sockets=security-server-exec-path.socket
Sockets=security-server-get-object-name.socket
Sockets=security-server-app-permissions.socket
Sockets=security-server-cookie-get.socket
Sockets=security-server-cookie-check.socket

[Install]
WantedBy=multi-user.target
