[Unit]
Description=Start the security server

[Service]
Type=notify
ExecStart=/usr/bin/security-server
Sockets=security-server-data-share.socket
Sockets=security-server-get-gid.socket
Sockets=security-server-privilege-by-pid.socket
Sockets=security-server-exec-path.socket
Sockets=security-server-app-permissions.socket
Sockets=security-server-app-privilege-by-name.socket
Sockets=security-server-cookie-get.socket
Sockets=security-server-cookie-check.socket
Sockets=security-server-cookie-check-tmp.socket
Sockets=security-server-open-for.socket
Sockets=security-server-password-check.socket
Scokets=security-server-password-set.socket

[Install]
WantedBy=multi-user.target
