[Socket]
ListenStream=/tmp/.security-server-api-exec-path.sock
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
