[Socket]
ListenStream=/run/security-server/security-server-api-password-set.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Unit]
Wants=security-server.target
Before=security-server.target

[Install]
WantedBy=sockets.target
