[Socket]
ListenStream=/tmp/.security-server-api-get-gid.sock
SocketMode=0777
#SmackLabelIPIn=security-server::api-get-gid
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
