[Socket]
ListenStream=/run/security-manager.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

# TODO: move to separate systemd service
Service=security-manager.service

[Unit]
ConditionVirtualization=!lxc
ConditionPathExists=!/usr/share/.zones/enabled

[Install]
WantedBy=sockets.target
