[Socket]
ListenStream=/tmp/.security-server-api-cookie-check.sock
SocketMode=0777
#SmackLabelIPIn=security-server::api-cookie-check
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
