#This socket should be removed when security-server-api-cookie-check.sock
#will be protected by smack and has proper label (at the moment it is '*')
[Socket]
ListenStream=/tmp/.security-server-api-cookie-check-tmp.sock
SocketMode=0777
SmackLabelIPIn=security-server::api-cookie-check
SmackLabelIPOut=@

Service=security-server.service

[Unit]
Wants=security-server.target
Before=security-server.target

[Install]
WantedBy=sockets.target
