[Socket]
ListenStream=/run/security-manager-master.socket
SocketMode=0700
SmackLabelIPIn=System
SmackLabelIPOut=System
Service=security-manager-master.service

[Unit]
ConditionVirtualization=!lxc
ConditionPathExists=/usr/share/.zones/enabled

[Install]
WantedBy=sockets.target
