[Socket]
ListenStream=/run/security-manager.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

# TODO: move to separate systemd service
Service=security-manager.service

[Install]
WantedBy=sockets.target
