[Socket]
ListenStream=/tmp/.security-server-api-password-set.sock
SocketMode=0777
SmackLabelIPIn=security-server::api-password-set
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
