[Socket]
ListenStream=/tmp/.security-server-api-password-reset.sock
SocketMode=0777
SmackLabelIPIn=security-server::api-password-reset
SmackLabelIPOut=@

Service=security-server.service

[Unit]
Wants=security-server.target
Before=security-server.target

[Install]
WantedBy=sockets.target
