[Socket]
ListenStream=/tmp/.security-server-api-data-share.sock
SocketMode=0777
SmackLabelIPIn=security-server::api-data-share
SmackLabelIPOut=@

Service=security-server.service

[Install]
WantedBy=sockets.target
