Source: security-server
Section: base
Priority: extra
Maintainer: Bumjin Im <bj.im@samsung.com>, Kidong Kim <kd0228.kim@samsung.com>, Bartlomiej Grzelewski <b.grzelewski@samsung.com>, Piotr Kozbial <p.kozbial@samsung.com>, Piotr Fatyga <p.fatyga@samsung.com>
Uploaders: Tomasz Swierczek <t.swierczek@samsung.com>, Yunchan Cho <yunchan.cho@samsung.com>
Build-Depends:
    debhelper (>= 5), autotools-dev, dlog-dev, libssl-dev, libattr1-dev, libsmack-dev,
    libglib2.0-dev, libsqlite3-dev, libwebkit-engine-dev, libelm-webview-dev,
    libxml2-dev, libdbus-1-dev, libefreet-dev, libappcore-efl-dev, openssl (>= 0.9.7),
    libcert-svc-dev, wrt-commons-dev (>= 0.2.22), libpcre-dev, libelm-dev, libecore-dev,
    libeina-dev, libui-gadget-dev, libslp-utilx-dev, libsecurity-server-client-dev,
    libpkgmgr-installer-dev, libxmlsec1-dev, libidn11-dev, libpkgmgr-types-dev,
    libss-client-dev, libiri-dev
Standards-Version: 3.7.2

Package: libsecurity-server-client-dev
Architecture: any
Section: libs
Depends: ${misc:Depends}, libsecurity-server-client-0 (= ${Source-Version}), dlog-dev
Description: security server client library develpoment package

Package: libsecurity-server-client-0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: security server client library package

Package: security-server
Architecture: any
Section: base
Depends: ${shlibs:Depends}, ${misc:Depends},
         libsecurity-server-client-0 (= ${Source-Version}), openssl
Description: security server

Package: security-server-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, security-server (= ${Source-Version})
Description: debug package of security server source package

Package: wrt-security
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, libug-picker-efl,
         sqlite3, wrt-commons (>= 0.2.22)
Replaces: wrt-security
Provides: wrt-security
Conflicts: wrt-security
Description: online widget(W3C, BONDI, JIL, MSC) platform

Package: wrt-security-dev
Architecture: any
Section: libs
Depends: wrt-security (= ${Source-Version}), wrt-commons-dev (>= 0.2.22),
         openssl, libxml2-dev, libsoup2.4-dev
Description: wrt security platform - dev

Package: wrt-security-test
Architecture: any
Section: libs
Depends: wrt-security (= ${Source-Version}), wrt-commons (>=0.2.9)
Description: wrt security platform - test programs

Package: wrt-security-dbg
Architecture: any
Replaces: wrt-security-dbg
Provides: wrt-security-dbg
Conflicts: wrt-security-dbg
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: online widget(W3C, BONDI, JIL, MSC) platform - debug
